@import "./variables.scss";
@import "./colours.scss";
@import "./mixins.scss";

html{
    font-size: 62.5%;/* 1 rem = 10px */
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;//para que al crear una caja al poner un width tbn se considere su padding y margin como parte de este
}
*,*:before, *:after{
    box-sizing: inherit;/*inherit:hereda del elemento padre*/
    margin:0;
    padding: 0;
}

body{
    background-color: $main-bg
}

[class$="__container"] {
    width: 90%;
    max-width: 1200px;
    margin:0 auto;
    @include macbook_air{
        max-width: 1900px;;
    }
    @include macbook_pro_13{
        max-width: 2800px;
    }
}
img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

button{
    border: none;
    background-color: transparent;
    color: $neutral-2;
}


