//Fonts
$main-font: 'Poppins', sans-serif; //font-weight: 400, 600, 700
$secondary-font: 'Poppins', sans-serif; //font-weight: 400, 600, 700
$link-font: 'Mochiy Pop One', sans-serif; //font-weight: 400

// Font weight
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

//Media Queries
$jio_phone: 300px;
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$macbook_air:1440px;
$macbook_pro_13:2560px;

//padding
$gap-1: 1rem;
$gap-2: 2rem;
$gap-3: 3rem;
$gap-4: 4rem;
$gap-5: 5rem;
$padding_div:4rem;
$padding_elemt:2rem;
$margin_elemt:2rem;
